<!DOCTYPE html>
<html lang="en-us">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>

<title> The Longos | LongoBlog </title>

<%= csrf_meta_tags %>
<%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

</head>


<div id="pagewrap">
  <header id="header">
    <div id="nav">


    <svg width="59px" height="59px" viewBox="0 0 59 59" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
      <title>Logo</title>
      <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
          <g id="Artboard">
              <g id="Logo" transform="translate(-0.500000, -0.500000)">
                  <text id="L" font-family="Baskerville" font-size="45" font-weight="normal" letter-spacing="4.5" fill="#000000">
                      <tspan x="16.1599121" y="43.9367231">L</tspan>
                  </text>
                  <rect id="Rectangle" stroke="#000000" stroke-width="3" x="2" y="2" width="56" height="56"></rect>
              </g>
          </g>
      </g>
  </svg>



      <ul>
        <li class="articles"><%= link_to "All posts", posts_path %></li>
        <li class="notes"> <% if !user_signed_in? %><%= link_to "Sign in", new_post_path %><% end %></li>
        <% if user_signed_in? %>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% end %>
      </ul>
    </div>
  </header>


  <main role="main">
    <section class="content">
      <div class="centered">
          <%= yield %>
    </section>

  </main>



<footer id="footer">
  <div class="grid-unit">
		<span class="twitter">
			<a href="http://www.rileyisme.com">
				<svg title="twitter icon"><use xlink:href="#icon-twitter"></use></svg> My website
			</a>
		</span>
	</div>
	<div class="grid-unit">
		<span class="paravel">
			<a href="https://twitter.com/@lrileygraham">
				<svg title="twitter icon"><use xlink:href="#icon-paravel"></use></svg> Twitter
			</a>
		</span>
		<span class="rss">
			<a href="http://instagram.com/rilesworth">
				<svg title="rss icon"><use xlink:href="#icon-rss"></use></svg> Instagram
			</a>
		</span>
	</div>
</footer>



</div><!-- end pagewrap -->
</body>
</html>
