<!DOCTYPE html>
<html>
  <head>
    <title>Blog</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
<%= stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id= "sidebar">
      <div id= "logo">
        <%= link_to root_path do %>
          <%= image_tag "logo.svg" %>
          <% end %>
      </div>

      <ul>
        <li class="category">Website</li>
        <li><%= link_to "About", about_path %></li>
      </ul>

      <ul>
        <li class="category">Social</li>
        <li><a href="http://www.rileyisme.com">My Website</a></li>
        <li><a href="http://instagram.com/rilesworth">Instagram</a></li>
        <li><a href="mailto:lrileygraham@gmail.com">Email</a></li>


        <br>
      <% if !user_signed_in? %>
      <li><%= link_to "Sign in", new_post_path %></li>
        <% end %>

        <% if user_signed_in? %>
          <li><%= link_to "New Post", new_post_path %></li>
          <li><%= link_to "Logout", destroy_user_session_path, :method => :delete %></li>
        <% end %>
        </ul>

      </div>
        </ul>

      <% if !user_signed_in? %>
      <% end %>

    </div>

    <div id="main_content">
      <div id="header">
        <% if current_page?(root_path)%>
        <p>All Posts</p>
        <% elsif current_page?(about_path)%>
        <p>About</p>
      <% else %>
        <%= link_to "< Back to All Posts", root_path %>
        <% end %>

        <% if !user_signed_in? %>
          <% end %>

          <% if user_signed_in? %>
          <% end %>
        </div>

      <br>
      <% flash.each do |name, msg| %>
        <%= content_tag(:div, msg, class: "alert")%>
        <% end %>
  <%= yield %>
    </div>

  </body>
</html>
